# Ignore everything.
/*

# Don't ignore some JavaScript and Markdown files in the root directory.
!/*.js
!/*.md
!/.eslintrc.js
!/.prettierrc.json
!/babel.config.js
!/tsconfig.json

# Ignore generated CHANGELOG.
/CHANGELOG.md

# Don't ignore configuration files.
!/.github

# Don't ignore source and tests.
!/src
!/tests
